################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/build
/src/SM.Medication.Api/obj
/tests/SM.Medication.Api.Tests/obj
